.pizzas-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
    margin: 2rem;
}

/* Media query para pantallas grandes (desktop) */
@media (min-width: 1024px) {
    .pizzas-container {
        grid-template-columns: repeat(4, 1fr); /* Limita a 4 columnas */
    }
}
