.pizza-card {
    transition: transform 0.3s, box-shadow 0.3s;
    width: auto;
}

.pizza-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.pizza-image {
    height: 200px;
    object-fit: cover;
}

.price-text {
    font-size: 1.75rem; 
    font-weight: bold;
}

.card-title {
    font-size: 1.2rem;
    font-weight: bold;
}

.card-body {
    display: flex;
    flex-direction: column;
}

.card-text {
    font-size: 0.9rem;
}

.btn-add-cart {
    background-color: #e31837;
    border: none;
    color: white; /* Ensures the text is readable */
    transition: background-color 0.3s ease; /* Smooth transition effect */
    font-size: large;
    font-weight: 600;
}
.btn-add-cart:hover {
    background-color: #c1122f; /* Darker shade for hover effect */
}